<ul class="nav nav-pills flex-column">
    <li class="nav-item" id="nav-link" *ngFor="let section of sections" [routerLink]="[section.link]"  >{{ section.title }}</li>
</ul>

<!--    // Hardcoded link list below v, awesome angular implementation above ^
    <li class="nav-item">
    <a class="nav-link" [routerLink]="['/sales']">Sales Volume</a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/orders']">Latest Orders</a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/health']">System Health</a>
</li> -->